name: Generate Pacman

on:
  schedule:
    - cron: "0 */12 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Pacman
        uses: Platane/snk@v3
        with:
          github_user_name: araujofran
          outputs: |
            dist/pacman.svg?palette=github-dark&color_snake=#fed700&color_dots=#0d1117,#272b33,#39d353,#26a641,#006d32
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
